[submodule "cyclegan"]
	path = cyclegan
	url = https://github.com/jhoffman/pytorch-CycleGAN-and-pix2pix.git
[submodule "pytorch-CycleGAN-and-pix2pix"]
	path = pytorch-CycleGAN-and-pix2pix
	url = https://github.com/jhoffman/pytorch-CycleGAN-and-pix2pix.git
